@import "styles/includeMedia.scss";
@import "styles/theme.scss";
@import "styles/mixins.scss";
@import "styles/font/fontGroups.scss";

.content4 {
    background: $dirty-white;

    .contentHeading h2 {
        @extend .bold-desktop-36-mobile-24 ;
    }

    .card {
        min-width: 350px;
    }
}

@include media(">=desktop") {
    .content4 {
        padding: 7rem 5rem;
    }
}

@include media(">=tablet", "<=desktop") {
    .content4 {
        padding: 4rem 1.5rem;
    }
}

@include media("<tablet") {
    .content4 {
        padding: 3rem 1rem;
    }
}
