@import "styles/includeMedia.scss";
@import "styles/theme.scss";
@import "styles/font/fontGroups.scss";
@import "styles/mixins.scss";
@import "styles/variables.scss";

@include opacityKeyFrames();

@mixin panelContentOpacity($classname, $opacity, $animation) {
    #{$classname} {
        opacity: $opacity;
        animation: $animation;
    }
}

.content3 {
    .headerEmphasisText {
        @extend .bold150;
        color: $translucent-white;
        width: fit-content;
        text-transform: capitalize;
    }

    .container {
        margin: 0;
        top: $headerHeigth;
        box-shadow: 0px -23px 40px 0px $light-grey;
        height: 100vh;
        .contentContainer {
            background: $yellow;
            background-image: url("/images/homepage/verticalContentSection/bg-spiffy-watermark.svg");
            background-size: contain;
            background-repeat: no-repeat;

            :global(.swiper-slide-prev) {
                @include panelContentOpacity(".panelHeader", 0, hide 0.5s);
            }

            :global(.swiper-slide-active) {
                @include panelContentOpacity(".panelHeader", 1, show 2s);
            }

            :global(.swiper-slide-next) {
                @include panelContentOpacity(".panelHeader", 0, hide 0.5s);
            }
        }

        .parallaxColumnRigth {
            div:nth-child(1) {
                height: 100%;
            }
        }
    }

    .selectors {
        width: 30px;
        z-index: 1;

        .selector {
            border: 1px solid $white;
            background: none;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            margin: 5px 0;
            opacity: 0.6;
            cursor: pointer;
            transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
            &:hover,
            &.active {
                background: $white;
                opacity: 0.9;
            }
        }
    }

    aside.panel {
        h2.panelHeader {
            @extend .bold60;
            color: $black;
            text-transform: capitalize;

            .highlightText {
                @extend .bold60;
                color: $blue;
            }
        }
    }
}

@include media(">=desktop") {
    .content3 {
        .panelHeader {
            padding-left: 6rem;
            padding-top: 1rem;
        }
    }
}

@include media(">=tablet", "<desktop") {
    .panelHeader {
        padding-left: 1rem;
        padding-top: 3rem;
    }
}

@include media(">=tablet") {
    .content3 {
        .container {
            height: 100vh;
        }
        .headerEmphasisText {
            left: 5%;
        }

        aside.panel {
            @include fluidDimension("height", 230, 768);
        }
    }
}

@include media("<tablet") {
    .content3 {
        .container {
            height: 50%;
            .headerEmphasisText {
                top: 5%;
                left: 5%;
            }
            aside.panel {
                min-height: 480px;

                h2.panelHeader {
                    padding-top: 1rem;
                    padding-left: 1rem;
                }
            }
        }
    }
}
