@import "styles/font/fontGroups.scss";
@import "styles/theme.scss";
@import "styles/includeMedia.scss";

.bannerContentContainer {
    z-index: 1;
    width: 100%;

    .title {
        @extend .bold36;
        color: $yellow;
    }

    .description {
        @extend .regular16;
        color: $neutral-white;
    }

    .searchContainer {
        width: fit-content;

        input {
            @extend .regular16;
            border: none;
            border-radius: 5px;
            background-color: $translucent-white;
            color: $white;
            border-radius: 8px;

            &::placeholder {
                color: $white;
            }

            &:focus {
                outline: none;
            }
        }

        button {
            padding: 10px 20px;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        a[role="button"] {
            @extend .regular32;
            border-radius: 0 5px 5px 0;
            border: none;
            color: $black;
            aspect-ratio: 1;
        }
    }
}

@include media(">=tablet") {
    .bannerContentContainer {
        padding: 6rem 7rem;

        .searchContainer {
            width: fit-content;

            input {
                padding: 9px 5rem 9px 20px;
            }

            a[role="button"] {
                padding: 1rem;
            }
        }
    }
}

@include media("<tablet") {
    .bannerContentContainer {
        padding: 2rem;

        .searchContainer {
            width: 100%;
        }

        input {
            padding: 1rem 3.5rem 1rem 1rem;
            width: 100%;
        }

        a[role="button"] {
            padding: 1rem;
        }
    }
}
