@import "styles/includeMedia.scss";
@import "styles/theme.scss";
@import "styles/functions.scss";
@import "styles/font/fontGroups.scss";

@mixin iconProperties($width, $height, $top, $bottom) {
    width: $width;
    height: $height;
    top: $top;
    right: $bottom;
}

.sectionButton {
    @extend .bold32;
    width: max-content;

    label {
        border: 4px solid $dirty-white;
        cursor: pointer;
    }
}

@include media(">1200px") {
    .sectionButton {
        padding: 1rem 4rem 1rem 1rem;
        width: max-content;
        opacity: 0;

        label {
            @include iconProperties(50px, 50px, -20px, -20px);
        }
    }
}

@include media(">tablet", "<1220px") {
    .sectionButton {
        padding-right: 2rem;

        label {
            @include iconProperties(35px, 35px, -18px, -20px);
        }
    }
}

@include media(">phone", "<tablet") {
    .sectionButton {
        padding-right: 2rem;
        width: max-content;
        min-width: unset;
        margin: 1rem;
    }
}

@include media("<tablet") {
    .sectionButton label {
        @include iconProperties(30px, 30px, -16px, -12px);
    }
}
