@import "styles/includeMedia.scss";
@import "styles/theme.scss";
@import "styles/functions.scss";
@import "styles/font/fontGroups.scss";

.contentContainer {
    background: $dirty-white;

    .faqAccordionContainer {
        & > * {
            margin-bottom: 1rem;
        }
    }
}

.content {
    background: $dirty-white;

    .contentHeading h2 {
        @extend .bold31;
        margin-bottom: 30px;
    }
}

.accordion {
    :global(.accordion-button) {
        padding: 0;

        &:after {
            display: none;
        }

        &:focus {
            box-shadow: initial;
        }

        .customAccordianButton {
            background-color: $faded-yellow;
            min-width: 50px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            width: 132px;
            transition: background-color 0.3s;
            border-radius: 0px 10px 10px 0px;

            div {
                display: inherit;
                transform: rotate(0deg);
                transition: transform 0.3s;
            }
        }
    }

    :global(.accordion-button:not(.collapsed)) {
        color: initial;
        background-color: $neutral-light-black;

        .customAccordianButton {
            background-color: $yellow;

            div {
                transform: rotate(-90deg);
                transition: transform 0.3s;
            }
        }
    }
}

.accordianHeader {
    :global(.accordion-button:not(.collapsed)) {
        box-shadow: none;
    }
    
    .headerInner {
        border-radius: 10px 0px 0px 10px;
    }

    .faqIndex {
        color: $yellow;
        width: fluid(56, 70);
    }

    button {
        @extend .regular-desktop25-mobile16;
        background-color: $neutral-light-black;
    }
}

.accordianBody {
    @extend .regular-desktop-16-mobile-14;
    background-color: $dirty-white;
    padding-bottom: 0px;

    .accordianBodyInner {
        margin-left: fluid(56, 60);

        img {
            width: 100%;
        }
    }
}

@include media(">desktop") {
    .contentContainer {
        padding: 3rem 1rem;
    }
}

@include media(">=tablet", "<=desktop") {
    .content {
        padding: 4rem 1.5rem;
    }
}

@include media("<tablet") {
    .contentContainer {
        padding: 2rem 1rem;
    }

    .content {
        padding: 1rem 1rem;
    }

    .customAccordianButton {
        width: 63px;
        padding: 0.5rem;
    }

    .accordion {
        :global(.accordion-button) {
            .customAccordianButton div {
                width: 70px;
            }
        }

        .accordianBody {
            .accordianBodyInner {
                margin-left: fluid(40, 40);
            }
        }
    }
}
