@import "styles/includeMedia.scss";
@import "styles/theme.scss";
@import "styles/functions.scss";
@import "styles/font/fontGroups.scss";

.contentContainer {
    padding: 3rem 1rem;
    background: $dirty-white;

    .navbar {
        &::-webkit-scrollbar {
            height: 4px;
            width: 10px;
            border: 1px solid $transparent;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb:horizontal {
            background: $light-grey;
            border-radius: 10px;
        }
    }

    nav {
        :global(.navbar-toggler) {
            border: none;
            box-shadow: none;
            transition: transform 0.3s;
        }

        :global(.collapsed) {
            transform: rotate(180deg);
            transition: transform 0.3s;
        }
    }
}

.activeTab {
    border: 2px solid $yellow;
    color: $yellow;
    opacity: 1;
}

.content {
    background: $dirty-white;

    .contentHeading h2 {
        @extend .fullBold67;
    }

    .card {
        min-width: 350px;
    }
}

.tab {
    min-width: 300px;

    &.active {
        background-color: $yellow;
    }
}

.accordion {
    :global(.accordion-button) {
        padding: 0;

        &:after {
            display: none;
        }

        &:focus {
            box-shadow: initial;
        }

        .customAccordianButton {
            background-color: $yellow;
            aspect-ratio: 1/1;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;

            div {
                transform: rotate(0deg);
                transition: transform 0.3s;
            }
        }
    }

    :global(.accordion-button:not(.collapsed)) {
        color: initial;
        background-color: $neutral-light-black;

        .customAccordianButton div {
            transform: rotate(-90deg);
            transition: transform 0.3s;
        }
    }
}

.accordianHeader {
    .faqIndex {
        color: $yellow;
        width: fluid(56px, 70px);
    }
    button {
        @extend .semiBold32;
        background-color: $neutral-light-black;
    }
}

.accordianBody {
    @extend .regular25;
    background-color: $dirty-white;
}

@include media(">991px") {
    .tab {
        &.inactive {
            background-color: $faded-yellow;
        }

        &:hover {
            background-color: $light-yellow;
        }
    }
}

@include media("<=991px") {
    .tab {
        background-color: $white;
        border: none;
    }
}

@include media(">=tablet", "<=desktop") {
    .content {
        padding: 4rem 1.5rem;
    }
}

@include media("<tablet") {
    .content {
        padding: 3rem 1rem;
    }

    .customAccordianButton {
        width: 63px;
        padding: 0.5rem;
    }
}

:export {
    dirty-white: $dirty-white;
}
