@import "styles/theme.scss";
@import "styles/font/fontGroups.scss";

@include opacityKeyFrames();

// Opacity transition classes
.show {
    opacity: 1;
    transition: show 1s;
    animation: show 1s;
}

.hide {
    opacity: 0;
    transition: hide 0.3s;
    animation: hide 0.3s;
}

.headingText {
    background-color: $yellow;
    @extend .bold36;
}

.cardContainer {
    .card {
        background-color: #916e23;
        transition: flex 200ms ease-in;

        &:hover {
            flex: 2;
            transition: flex 200ms ease-in;
        }

        // Accessing Next JS Image parent div tag as parent is not accessible directly.
        div {
            width: 100%;
            background-color: $transparent;
        }

        .cardInfo {
            color: $white;
            width: fit-content;

            h2 {
                @extend .bold41;
            }

            h5 {
                @extend .regular25;
            }
        }
    }

    .overlay {
        background-color: $yellow-dark;
        z-index: 2;
    }
}
