@import "styles/includeMedia.scss";
@import "styles/theme.scss";
@import "styles/font/fontGroups.scss";

$backroundTransition: background-color 0.2s;

.navbar {
  transition: $backroundTransition;
  top: 0;
  z-index: 2;

  img:hover {
    cursor: pointer;
  }

  .links {
    @extend .regular24;

    .link {
      color: $white;

      &:hover {
        color: $yellow;
      }
    }

    .buttons {
      .buttonLogin {
        @extend .bold24;
        color: $yellow;
        background: $transparent;
        border: none;
        text-transform: uppercase;

        &:focus {
          outline: none;
        }

        &:hover {
          color: $white;
        }
      }
    }
  }
}

.link {
  color: $white;
}

.backgroundDark {
  @extend .backgroundPattern;
  transition: $backroundTransition;
}

@include media(">=phone", "<991px") {
  .links {
    .link {
      border-bottom: 1px solid $grey;
    }
  }
}
