@import "styles/includeMedia.scss";
@import "styles/theme.scss";
@import "styles/font/fontGroups.scss";
@import "styles/mixins.scss";

@mixin imgProperties($size) {
    width: $size;
    height: $size;
    object-fit: contain;
}

@mixin gameContentPadding($padding) {
    padding: $padding;
}

$vh: var(--vh);

.donationRow1 {
    width: 30%;
    margin: 0 auto;
}

.gameStepThreeUserColumnInner {
    max-width: 450px;
}

.marginBottomMinusFifty {
    margin-bottom: -50px;
}

.marginTopMinusFifty {
    margin-top: -30px;
}

.donationRow2 {
    width: 45%;
    margin: 15px auto;
}

.donationRow3 {
    width: 52%;
    margin: 15px auto;
}

.coinTwo {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
    top: 330px;
}

.modalBody {
    background-color: $dirty-white;
}

.close {
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 10;
}
.activeTab {
    border: 2px solid $yellow;
    color: $yellow;
    opacity: 1;
}

.card {
    background-color: $white;
    width: 90%;
    min-height: calc(#{$vh} - 40px);
    margin: 20px auto;

    .avatar {
        color: $white;
        cursor: pointer;
        opacity: 0;
        transition: 1s;
    }
}

.avatarSelected {
    > svg {
        @include imgProperties(160px);
    }
}
.avatarFriends {
    > svg {
        @include imgProperties(222px);
        transition: 2s;
    }
}

.wrapper {
    padding: 30px;
}

.donationSections {
    width: 100%;
    overflow: auto;
    height: $vh;
}

.avatarHeading {
    @extend .regular-desktop30-mobile20;
}

.percentageWrapper {
    svg {
        @include imgProperties(165px);
        cursor: pointer;
    }
}

.gameStepTwoWrapper {
    @include gameContentPadding(50px 0);
    width: 100%;

    button {
        margin-top: 40px;
    }
}

.gameStepSix {
    @include gameContentPadding(100px 0);
    width: 100%;
}

.gameStepTwo {
    width: 30%;
    margin-top: 0px;

    img {
        visibility: hidden;
    }

    input {
        border: 1px solid $silver;
        padding: 20px 10px;
        border-radius: 12px;
        margin-top: 40px;
    }

    input:focus-visible {
        outline: 0px;
    }
    a {
        width: 100%;
    }
}

.gameStepThree {
    display: flex;
    background-color: $dirty-white;
    width: 100%;
    .user {
        img {
            visibility: hidden;
        }
    }

    .gameStepThreeUserColumn {
        width: 48%;
        background-color: $white;
        h2 {
            display: none;
            position: absolute;
            top: 60px;
        }
    }

    .gameStepThreeFriendsColumn {
        width: 48%;
        background-color: $white;
        padding: 50px 80px;
        h2 {
            margin-top: 50px;
        }
    }

    h3 {
        @extend .regular24;
        margin-top: 90px;
    }
}

.stepFour {
    width: 100%;
    padding: 50px 0px;
    h4 {
        @extend .regular-desktop25-mobile16;
    }
    nav {
        width: 90%;
    }
    .navToggle {
        border: none;
    }
    .donationBtn {
        margin-right: 20px;
    }
}

.donationInner {
    margin-top: 40px;
    margin-bottom: 40px;

    h2 {
        @extend .boldGame41;
    }

    .userDonation {
        margin-top: 80px;
        z-index: 2;
    }
}

.donationCycle {
    .donationCycleItems {
        visibility: hidden;
    }

    .cycle {
        visibility: hidden;
    }

    .donationLogo {
        visibility: hidden;
    }
}

.heigth120 {
    max-height: 70px;
}

.contentAnimation {
    max-width: 1000px;
    .donationCycle {
        .donationCycleItems {
            visibility: hidden;
        }
    }
    p {
        animation-name: contetHide;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        color: $yellow-dark;
    }

    h3 {
        animation-name: contentShow;
        animation-duration: 2s;
        opacity: 0;
    }

    .userDonation {
        margin-top: 20px;
        transition: 1s;
    }

    .donationAmount {
        animation-name: displayAnimation;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        height: 20px;
        overflow: hidden;
        @extend .regular-desktop16-mobile7;
    }

    .donationAmount2 {
        animation-delay: 4s;
    }

    .donationAmount3 {
        animation-delay: 17s;
    }

    .donationAmount4 {
        animation-delay: 5s;
    }

    .donationAmount5 {
        animation-delay: 16s;
    }

    .donationAmount6 {
        animation-delay: 7s;
    }

    .donationAmount7 {
        animation-delay: 15s;
    }

    .donationAmount8 {
        animation-delay: 9s;
    }

    .donationAmount9 {
        animation-delay: 13s;
    }

    .donationAmount10 {
        animation-delay: 10s;
    }

    .donationAmount11 {
        animation-delay: 11s;
    }

    .cycle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        border-radius: 50px;
        background-color: $dirty-white;
        animation-name: opacityAnimation;
        animation-duration: 0.5s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        visibility: hidden;
        width: 75px;
        text-align: center;
        z-index: 2;
        max-height: 90px;
        img {
            object-fit: contain;
        }
    }

    .cycle2 {
        animation-delay: 4s;
    }

    .cycle4 {
        animation-delay: 5s;
    }

    .cycle6 {
        animation-delay: 7s;
    }

    .cycle8 {
        animation-delay: 9s;
    }

    .cycle10 {
        animation-delay: 10s;
    }

    .cycle11 {
        animation-delay: 11s;
    }

    .cycle9 {
        animation-delay: 13s;
    }

    .cycle7 {
        animation-delay: 15s;
    }

    .cycle5 {
        animation-delay: 16s;
    }

    .cycle3 {
        animation-delay: 17s;
        margin-top: -100px;
        width: 50%;
        border-radius: 18px;
        padding: 20px;
        span {
            animation-delay: 17s;
            animation-name: displayAnimation;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            height: 20px;
            overflow: hidden;
            @extend .regular-desktop16-mobile7;
        }
        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    .donationCycleItems {
        visibility: hidden;
    }

    .donationLogo {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -25%;

        > div:nth-child(1) {
            animation-name: iconAnimation;
            animation-duration: 1s;
            animation-delay: 16s;
            animation-fill-mode: forwards;
            opacity: 0;
            position: absolute;
            width: 100%;
            top: -40px;
            right: 280px;
            text-align: right;
            span {
                @extend .regular-desktop20-mobile7;
            }
        }
    }
}

.coinRef {
    width: 50px;
    height: 50px;
}

@keyframes displayAnimation {
    30% {
        height: 20px;
    }
    100% {
        height: 0;
    }
}
@keyframes iconAnimation {
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes contentShow {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 0px;
        overflow: hidden;
    }
}

@keyframes contetHide {
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 0px;
        overflow: hidden;
    }
}

.donationActive {
    background-color: $yellow;
}

.yellow {
    color: $yellow;
}

.signUpsection {
    h2 {
        margin-top: 40px;
    }
}

.coin {
    width: 75px;
    height: 75px;
    animation-name: example;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    opacity: 1;
}

@keyframes opacityAnimation {
    99% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.targetOne {
    width: 160px;
    height: 160px;
    margin-top: 40px;
}

.targetTwo {
    width: 222px;
    height: 222px;
}

.transparent {
    background-color: $transparent;
}

.donationButton {
    background-color: $faded-yellow;
    margin-right: 20px;
    border: none;
    :focus {
        outline: none;
    }
}

.active {
    background-color: $yellow;
}

.inactive {
    background-color: $faded-yellow;
    color: $darkGrey;
}

.friendsTop {
    margin-bottom: -111px;
    min-height: 148px;
}

.friendsBottom {
    margin-top: -100px;
    min-height: 148px;
}

@include media(">=phone", "<375px") {
    .friendsTop,
    .friendsBottom {
        width: 55%;
        min-height: 60px;
        svg {
            @include imgProperties(50px);
        }
    }

    .friendsTop {
        margin-bottom: -50px;
    }

    .friendsBottom {
        margin-top: -34px;
    }
    .contentAnimation {
        max-width: 350px;
        h3 {
            font-size: 9px;
        }

        .cycle {
            width: 35px;
            height: 42px;
            padding: 5px;
        }

        .cycle3 {
            margin-top: -90px;
            width: 50%;
            border-radius: 12px;
            padding: 5px;
        }
    }

    .donationLogo {
        right: unset;
        left: -45px;
        top: 5px;
    }
    .coinTwo {
        width: 20px;
        height: 20px;
        top: 330px;
        img {
            @include imgProperties(20px);
        }
    }
    .donationInner {
        margin-top: 0px;
        margin-bottom: 0px;

        p {
            font-size: 7px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .userDonation {
            @include imgProperties(67px);
            margin-top: 25px;
        }
    }
    .customNavbar {
        position: absolute;
        width: 100%;
        top: 80%;
        background-color: $white;
        z-index: 3;
    }

    .marginBottomMinusFifty {
        margin-bottom: -20px;
    }

    .marginTopMinusFifty {
        margin-top: -20px;
    }

    .heigth120 {
        height: 50px;
    }

    .donationImage {
        img {
            @include imgProperties(25px);
        }
    }
    .donationRow1 {
        width: 40%;
    }

    .donationRow2 {
        width: 65%;
        margin: 5px auto;
    }
    .donationRow3 {
        width: 75%;
        margin: 5px auto;
    }
    .donationButton {
        margin-bottom: 5px;
    }
    .close {
        top: 25px;
        z-index: 1;
    }

    .avatarSelected {
        > svg {
            @include imgProperties(90px);
        }
    }
    .avatarFriends {
        > svg {
            @include imgProperties(90px);
            transition: 2s;
        }
    }
    .targetOne {
        width: 90px;
        height: 90px;
    }
    .stepFour {
        width: 90%;
        position: relative;
    }

    .targetTwo {
        width: 90px;
        height: 90px;
    }

    .avatarstepTwo {
        animation: avatarstepTwoAnimation 4s;
        animation-fill-mode: forwards;
        img {
            @include imgProperties(164px);
        }
    }

    .card {
        margin: 20px 0;
        width: 100%;
    }

    .avatar {
        svg {
            @include imgProperties(90px);
        }
    }

    .gameStepTwo {
        width: 75%;
        img {
            @include imgProperties(84px);
        }
        input {
            padding: 8px 10px;
            margin-top: 40px;
        }
    }

    .gameStepThree {
        flex-direction: column !important;
        height: auto;
        .user {
            img {
                visibility: hidden;
            }
        }
        .gameStepThreeUserColumn {
            width: 100%;
            height: 50%;
            h2 {
                position: relative;
                top: -10px;
                display: block;
            }

            h3 {
                margin-top: 60px;
            }
        }

        .gameStepThreeFriendsColumn {
            width: 100%;
            padding: 0px;
            height: 50%;
            h2 {
                display: none;
            }
        }
    }

    .percentageWrapper {
        width: 100%;
        height: 100%;
        svg {
            @include imgProperties(65px);
            cursor: pointer;
        }
    }

    .donationCycleItems {
        padding: 10px 5px;
    }

    .gameStepOne {
        @include gameContentPadding(0px 0);
    }

    @keyframes avatarstepTwoAnimation {
        100% {
            left: 36%;
            top: 20%;
        }
    }

    .gameStepTwoWrapper {
        @include gameContentPadding(50px 0);
    }

    .paddingSides {
        padding: 30px 0px;
    }
}

@include media(">=375px", "<425px") {
    .friendsTop,
    .friendsBottom {
        width: 55%;
        min-height: 60px;
        svg {
            @include imgProperties(60px);
        }
    }

    .friendsTop {
        margin-top: -80px;
    }

    .friendsBottom {
        margin-top: -40px;
    }

    .percentageWrapper {
        width: 100%;
        height: 100%;
        svg {
            @include imgProperties(65px);
            cursor: pointer;
        }
    }
    .contentAnimation {
        max-width: 350px;

        h3 {
            font-size: 9px;
        }

        .cycle {
            width: 35px;
            height: 42px;
            padding: 5px;
        }

        .cycle3 {
            margin-top: -90px;
            width: 50%;
            border-radius: 12px;
            padding: 5px;
        }

        .donationLogo {
            right: unset;
            left: -45px;
            top: 5px;
        }
    }
    .close {
        top: 20px;
    }

    .coinTwo {
        img {
            @include imgProperties(20px);
        }

        top: 310px;
    }

    .donationInner {
        .userDonation {
            margin-top: 25px;
            @include imgProperties(67px);
        }

        margin-top: 0px;
        margin-bottom: 0px;
        .avatarInner {
            margin-top: 60px;
        }

        p {
            font-size: 7px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .customNavbar {
        position: absolute;
        width: 100%;
        top: 80%;
        background-color: $white;
        z-index: 3;
    }

    .marginBottomMinusFifty {
        margin-bottom: -20px;
    }

    .marginTopMinusFifty {
        margin-top: -20px;
    }

    .heigth120 {
        height: 50px;
    }
    .donationImage {
        img {
            @include imgProperties(25px);
        }
    }
    .donationRow1 {
        width: 40%;
    }

    .donationRow2 {
        width: 65%;
        margin: 5px auto;
    }

    .donationRow3 {
        width: 75%;
        margin: 5px auto;
    }

    .donationButton {
        margin-bottom: 5px;
    }

    .avatarSelected {
        > svg {
            @include imgProperties(90px);
        }
    }

    .avatarFriends {
        > svg {
            @include imgProperties(90px);
            transition: 2s;
        }
    }

    .avatar {
        svg {
            @include imgProperties(90px);
        }
    }
    .targetOne {
        width: 90px;
        height: 90px;
        margin-bottom: 40px;
    }

    .stepFour {
        width: 90%;
    }

    .targetTwo {
        width: 90px;
        height: 90px;
    }

    .avatarstepTwo {
        animation: avatarstepTwoAnimation 4s;
        animation-fill-mode: forwards;
        img {
            @include imgProperties(164px);
        }
    }

    .card {
        width: 100%;
        margin: 20px 0;
    }

    .gameStepTwo {
        width: 75%;
        img {
            @include imgProperties(84px);
        }
        input {
            font-size: 16px;
            padding: 8px 10px;
            margin-top: 0px;
        }
    }

    .gameStepThree {
        flex-direction: column !important;
        height: auto;
        .user {
            img {
                visibility: hidden;
            }
        }
        .gameStepThreeUserColumn {
            width: 100%;
            height: 50%;
            h2 {
                position: relative;
                top: -30px;
                display: block;
            }
            h3 {
                margin-top: 40px;
            }
        }
        .gameStepThreeFriendsColumn {
            width: 100%;
            padding: 0px;
            height: 50%;
            h2 {
                display: none;
            }
        }
    }

    .donationCycleItems {
        padding: 10px 5px;
    }

    .gameStepOne {
        @include gameContentPadding(0px 0);
    }

    .gameStepTwoWrapper {
        @include gameContentPadding(50px 0);
    }

    .avatarInner {
        height: 100px;
        margin-top: 0px;
    }
}

@include media(">=425px", "<800px") {
    .gameStepThreeUserColumnInner {
        max-width: 400px;
    }

    .friendsTop,
    .friendsBottom {
        width: 50%;
        min-height: 60px;
        svg {
            @include imgProperties(60px);
        }
    }

    .friendsTop {
        margin-top: -80px;
        min-height: 60px;
    }

    .friendsBottom {
        margin-top: -40px;
    }

    .close {
        top: 20px;
    }
    .contentAnimation {
        max-width: 350px;
        h3 {
            font-size: 9px;
        }

        .cycle {
            width: 35px;
            height: 42px;
            padding: 5px;
        }

        .cycle3 {
            margin-top: -50px;
            width: 50%;
            border-radius: 12px;
            padding: 5px;
        }

        .donationLogo {
            right: -145px;
            > div:nth-child(1) {
                width: 50%;
                top: -20px;
                right: -55px;
                text-align: left;
            }
        }
    }

    .customNavbar {
        position: absolute;
        width: 100%;
        top: 80%;
        background-color: $white;
        z-index: 3;
    }

    .coinTwo {
        width: 20px;
        height: 20px;
        top: 305px;
        img {
            @include imgProperties(20px);
        }
    }

    .marginBottomMinusFifty {
        margin-bottom: -25px;
    }

    .marginTopMinusFifty {
        margin-top: -20px;
    }

    .heigth120 {
        height: 50px;
    }
    .donationImage {
        img {
            @include imgProperties(25px);
        }
    }
    .donationRow1 {
        width: 50%;
    }

    .donationRow2 {
        width: 70%;
        margin: 10px auto;
    }

    .donationRow3 {
        width: 80%;
        margin: 15px auto;
    }

    .donationButton {
        margin-bottom: 10px;
    }

    .avatarSelected {
        > svg {
            @include imgProperties(90px);
        }
    }

    .avatarFriends {
        > svg {
            @include imgProperties(90px);
            transition: 2s;
        }
    }

    .avatar {
        svg {
            @include imgProperties(90px);
        }
    }
    .targetOne {
        width: 90px;
        height: 90px;
    }

    .stepFour {
        width: 80%;
        position: relative;
    }

    .targetTwo {
        width: 90px;
        height: 90px;
    }

    .card {
        margin: 20px;
    }

    .gameStepTwo {
        width: 75%;
        img {
            @include imgProperties(84px);
        }
        input {
            font-size: 16px;
            padding: 8px 10px;
        }
    }

    .gameStepThree {
        flex-direction: column !important;
        height: auto;
        .user {
            img {
                visibility: hidden;
            }
        }
        .gameStepThreeUserColumn {
            width: 100%;
            height: 50%;
            h2 {
                position: relative;
                top: -20px;
                display: block;
            }
            h3 {
                margin-bottom: 40px;
                margin-top: 40px;
            }
        }
        .gameStepThreeFriendsColumn {
            width: 100%;
            padding: 0px;
            height: 50%;
            h2 {
                display: none;
            }

            .percentageWrapper {
                width: 100%;
                height: 100%;
                svg {
                    @include imgProperties(65px);
                }
            }
        }
    }

    .donationInner {
        margin-top: 0px;
        margin-bottom: 0px;
        .avatarInner {
            margin-top: 60px;
        }

        p {
            font-size: 7px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .userDonation {
            margin-top: 10px;

            img {
                @include imgProperties(67px);
            }
        }
    }

    .donationCycleItems {
        padding: 10px 5px;
    }

    .gameStepTwoWrapper {
        @include gameContentPadding(50px 0);
    }

    .avatarInner {
        height: 100px;
        margin-top: 0px;
    }
}

@include media(">=550px", "<800px") {
    .coinTwo {
        top: 285px;
    }
}

@include media(">=800px", "<900px") {
    .targetOne {
        width: 90px;
        height: 90px;
    }
    .avatar {
        svg {
            @include imgProperties(90px);
        }
    }

    .donationInner {
        .userDonation {
            margin-top: 25px;
        }
    }

    .donationLogo {
        left: -30% !important;
        > div:nth-child(1) {
            width: 40% !important;
            top: -20px !important;
            right: -60px !important;
            text-align: left !important;
        }
    }
    .coinTwo {
        width: 30px;
        height: 30px;
        top: 275px;
    }
    .cycle {
        width: 60px !important;
    }
    .cycle3 {
        margin-top: -55px !important;
        width: 50% !important;
        border-radius: 12px !important;
        padding: 10px !important;
    }
    .customNavbar {
        position: absolute;
        width: 100%;
        top: 80%;
        background-color: $white;
        z-index: 3;
    }
    .marginBottomMinusFifty {
        margin-bottom: -30px;
    }

    .marginTopMinusFifty {
        margin-top: -20px;
    }

    .donationLogo {
        right: -145px;
    }
    .donationRow1 {
        width: 35%;
    }

    .donationRow2 {
        width: 50%;
        margin: 5px auto;
    }
    .donationRow3 {
        width: 57%;
        margin: 15px auto;
    }
    .donationButton {
        margin-bottom: 10px;
    }
    .container {
        text-align: center;
    }

    .gameStepTwo {
        width: 35%;
        img {
            @include imgProperties(84px);
        }
        input {
            font-size: 16px;
            padding: 8px 10px;
        }
    }

    .gameStepThree {
        .user {
            img {
                visibility: hidden;
            }
        }
        .gameStepThreeUserColumn {
            width: 48%;
            h3 {
                font-size: 11px;
                word-break: break-all;
                text-align: center;
            }
        }
        .gameStepThreeFriendsColumn {
            width: 48%;
            padding: 0px;
        }
    }

    .donationInner {
        margin-top: 15px;
        .avatarInner {
            margin-top: 60px;
        }
        p {
            font-size: 7px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .donationCycleItems {
        padding: 10px 5px;
    }

    .userDonation {
        img {
            @include imgProperties(100px);
        }
    }

    .coinDefault {
        img {
            @include imgProperties(50px);
        }
    }

    .contentAnimation {
        h3 {
            font-size: 9px;
        }
    }

    .gameStepTwoWrapper {
        @include gameContentPadding(50px 0);
    }

    .paddingSides {
        padding: 0px 0px !important;
    }

    .percentageWrapper {
        svg {
            @include imgProperties(65px);
        }
    }

    .donations {
        width: 80px;
    }

    .targetTwo {
        width: 90px;
        height: 90px;
    }

    .avatarFriends {
        > div {
            @include imgProperties(90px);
        }
    }
    .friendsTop {
        width: 55%;
        margin-top: -80px;
        min-height: 60px;
        svg {
            @include imgProperties(60px);
        }
    }

    .friendsBottom {
        width: 55%;
        margin-top: -40px;
        min-height: 60px;
        svg {
            @include imgProperties(60px);
        }
    }
}

@include media(">=900px", "<1000px") {
    .targetOne {
        width: 90px;
        height: 90px;
    }

    .avatar {
        svg {
            @include imgProperties(90px);
        }
    }

    .customNavbar {
        position: absolute;
        width: 100%;
        top: 80%;
        background-color: $white;
        z-index: 3;
    }

    .coinTwo {
        top: 300px;
    }

    .contentAnimation {
        max-width: 650px;

        h3 {
            font-size: 9px;
        }

        .cycle3 {
            margin-top: -40px;
        }

        .donationLogo {
            left: -30%;
            > div:nth-child(1) {
                width: 40%;
                top: -5px;
                right: -60px;
                text-align: left;
            }
        }
    }

    .donationRow1 {
        width: 40%;
    }

    .donationRow2 {
        width: 65%;
    }

    .donationRow3 {
        width: 80%;
    }

    .donationButton {
        margin-bottom: 10px;
    }

    .targetTwo {
        width: 90px;
        height: 90px;
    }

    .avatarFriends {
        > div {
            @include imgProperties(90px);
        }
    }

    .gameStepTwo {
        width: 35%;
        img {
            @include imgProperties(84px);
        }
        input {
            font-size: 16px;
            padding: 8px 10px;
        }
    }

    .gameStepThree {
        .user {
            img {
                visibility: hidden;
            }
        }
        .gameStepThreeUserColumn {
            width: 48%;
            h3 {
                font-size: 11px;
                word-break: break-all;
                text-align: center;
            }
        }
        .gameStepThreeFriendsColumn {
            width: 48%;
            padding: 0px;
        }
    }

    .donationInner {
        margin-top: 15px;
        .avatarInner {
            margin-top: 60px;
        }
        p {
            font-size: 7px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .userDonation {
        img {
            @include imgProperties(100px);
        }
    }

    .gameStepTwoWrapper {
        @include gameContentPadding(50px 0);
    }

    .percentageWrapper {
        svg {
            @include imgProperties(60px);
        }
    }

    .friendsTop,
    .friendsBottom {
        width: 50%;
        min-height: 60px;
        svg {
            @include imgProperties(60px);
        }
    }

    .friendsTop {
        margin-top: -80px;
    }

    .friendsBottom {
        margin-top: -40px;
    }
}

@include media(">=1000px", "<1100px") {
    .coinTwo {
        top: 300px;
    }

    .contentAnimation {
        max-width: 600px;

        .cycle3 {
            margin-top: -80px;
        }

        .donationLogo {
            > div:nth-child(1) {
                width: 55%;
                top: -25px;
            }
        }
    }

    .donationRow1 {
        width: 50%;
    }

    .donationRow2 {
        width: 75%;
    }

    .donationRow3 {
        width: 90%;
    }

    .gameStepTwo {
        width: 35%;
        img {
            @include imgProperties(100px);
        }
        input {
            font-size: 16px;
            padding: 8px 10px;
        }
    }

    .gameStepThree {
        .user {
            img {
                visibility: hidden;
            }
        }
        .gameStepThreeUserColumn {
            width: 48%;
        }
        .gameStepThreeFriendsColumn {
            width: 48%;
            padding: 0px;
        }
    }

    .donationInner {
        margin-top: 15px;
        .avatarInner {
            margin-top: 60px;
        }
    }

    .userDonation {
        img {
            @include imgProperties(100px);
        }
    }

    .gameStepOne {
        @include gameContentPadding(0px 0);
    }

    .gameStepTwoWrapper {
        @include gameContentPadding(50px 0);
    }

    .percentageWrapper {
        svg {
            @include imgProperties(125px);
        }
    }
}

@include media(">=1100px", "<1200px") {
    .coinTwo {
        top: 300px;
    }

    .contentAnimation {
        max-width: 700px;

        .cycle3 {
            margin-top: -80px;
        }

        .donationLogo {
            > div:nth-child(1) {
                width: 65%;
                top: -25px;
            }
        }
    }

    .donationRow1 {
        width: 40%;
    }

    .donationRow2 {
        width: 65%;
    }

    .donationRow3 {
        width: 75%;
    }

    .gameStepTwo {
        width: 35%;
        img {
            @include imgProperties(100px);
        }
        input {
            font-size: 16px;
            padding: 8px 10px;
        }
    }

    .gameStepThree {
        .user {
            img {
                visibility: hidden;
            }
        }
        .gameStepThreeUserColumn {
            width: 48%;
        }

        .gameStepThreeFriendsColumn {
            width: 48%;
            padding: 0px;
        }
    }

    .donationInner {
        margin-top: 15px;
        .avatarInner {
            margin-top: 60px;
        }
    }

    .userDonation {
        img {
            @include imgProperties(100px);
        }
    }

    .gameStepOne {
        @include gameContentPadding(0px 0);
    }

    .gameStepTwoWrapper {
        @include gameContentPadding(50px 0);
    }

    .percentageWrapper {
        svg {
            @include imgProperties(165px);
        }
    }
}

@include media(">=1200px", "<1300px") {
    .coinTwo {
        top: 300px;
        width: 40px;
        height: 40px;
    }

    .contentAnimation {
        max-width: 700px;

        .donationLogo {
            > div:nth-child(1) {
                width: 50%;
            }
        }
    }

    .donationRow1 {
        width: 40%;
    }

    .donationRow2 {
        width: 65%;
    }

    .donationRow3 {
        width: 75%;
    }

    .gameStepTwo {
        width: 35%;
        img {
            @include imgProperties(100px);
        }
        input {
            font-size: 16px;
            padding: 8px 10px;
        }
    }

    .gameStepThree {
        .user {
            img {
                visibility: hidden;
            }
        }
        .gameStepThreeUserColumn {
            width: 48%;
        }
        .gameStepThreeFriendsColumn {
            width: 48%;
            padding: 0px;
        }
    }

    .donationInner {
        margin-top: 15px;
        .avatarInner {
            margin-top: 60px;
        }
    }

    .userDonation {
        img {
            @include imgProperties(100px);
        }
    }

    .gameStepOne {
        @include gameContentPadding(0px 0);
    }

    .gameStepTwoWrapper {
        @include gameContentPadding(50px 0);
    }

    .percentageWrapper {
        svg {
            @include imgProperties(165px);
        }
    }
}

@include media(">=1300px", "<1400px") {
    .coinTwo {
        top: 300px;
    }

    .contentAnimation {
        .donationLogo {
            > div:nth-child(1) {
                width: 50%;
            }
        }
    }

    .donationRow1 {
        width: 30%;
    }

    .donationRow2 {
        width: 45%;
        margin: 10px auto;
    }
    .donationRow3 {
        width: 51%;
        margin: 10px auto;
    }

    .gameStepThree {
        max-width: 1170px;
    }
}

@include media(">=1400px", "<1500px") {
    .contentAnimation {
        .cycle3 {
            margin-top: -75px;
        }
        .donationLogo {
            > div:nth-child(1) {
                width: 80%;
                top: -25px;
            }
        }
    }

    .gameStepThree {
        max-width: 1260px;
    }
}

@include media(">=1500px", "<1600px") {
    .contentAnimation {
        .cycle3 {
            margin-top: -75px;
        }

        .donationLogo {
            > div:nth-child(1) {
                top: -25px;
            }
        }
    }

    .gameStepThree {
        max-width: 1350px;
    }
}

@include media(">=1600px", "<1700px") {
    .gameStepThree {
        max-width: 1400px;
    }
}

@include media(">=1700px", "<1800px") {
    .animationGrid {
        width: 70%;
    }
}
