@import "styles/includeMedia.scss";
@import "styles/theme.scss";
@import "styles/font/fontGroups.scss";
@import "styles/mixins.scss";

@mixin imgProperties($size) {
    width: $size;
    height: $size;
    object-fit: contain;
}

@mixin coinAnimation($right, $top, $bottom, $left, $name, $duration, $childAnimationName, $childAnimationDuration) {
    right: $right;
    top: $top;
    bottom: $bottom;
    left: $left;
    animation-name: $name;
    animation-duration: $duration;
    span {
        animation-name: $childAnimationName;
        animation-duration: $childAnimationDuration;
        animation-fill-mode: forwards;
    }
}

@mixin friendsAvatar($right, $left, $bottom) {
    right: $right;
    left: $left;
    bottom: $bottom;
    display: block !important;
}

@mixin gameContentPadding($padding) {
    padding: $padding;
}
.container {
    width: 90%;
    margin: 75px auto;
    background-color: $white;
    border-radius: 10px;
    position: relative;
}

.avatarHeading {
    @extend .boldGame67;
    color: $neutralBlack800;
}

.avatarWrapper {
    width: 50%;
    margin-top: 40px;
    grid-gap: 50px;
    img {
        cursor: pointer;
    }
}

.userAvatar {
    position: relative;
    animation: avatarAnimation 5s;
    animation-fill-mode: forwards;
    z-index: 1;
}

// @keyframes avatarAnimation {
//     0% {
//         top: 0px;
//     }
//     100% {
//         top: 900px;
//     }
// }

.containerFadIn {
    animation: containerFadinAnimation 4s;
    animation-fill-mode: forwards;
}
@keyframes containerFadinAnimation {
    0% {
        transform: translateY(120%);
    }
    100% {
        transform: translateY(0%);
    }
}
.containerFadOut {
    animation: containerFadoutAnimation 4s;
    animation-fill-mode: forwards;
}
@keyframes containerFadoutAnimation {
    0% {
        transform: translateY(0%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 1;
    }
    100% {
        transform: translateY(-120%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        z-index: -1;
    }
}
.gameStepOne {
    @include gameContentPadding(150px 0);
}

.gameStepTwoWrapper {
    @include gameContentPadding(150px 0);
}

.gameStepFive {
    @include gameContentPadding(150px 0);
}

.gameStepSix {
    @include gameContentPadding(150px 0);
}
.gameStepTwo {
    width: 30%;
    margin-top: 55px;

    input {
        border: 1px solid $gameInput;
        padding: 20px 10px;
        border-radius: 12px;
        margin-top: 55px;
    }

    input:focus-visible {
        outline: 0px;
    }

    button {
        width: 100%;
        margin-top: 55px;
        background-color: $yellow;
        border: 1px solid $yellow;
        padding: 20px 0px;
        font-size: 20px;
        color: #212429;
        font-weight: $semi-bold;
    }
}

.show {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.gameStepThree {
    display: flex;
    background-color: $dirty-white;
    .user {
        img {
            @include imgProperties(257px);
        }
    }

    .gameStepThreeUserColumn {
        width: 30%;
        background-color: $white;
    }

    .gameStepThreeFriendsColumn {
        width: 65%;
        background-color: $white;
        padding: 150px 150px 150px 0;
        .avatarWrapper {
            width: 45%;
        }
    }

    h3 {
        font-weight: $medium;
        font-size: 24px;
        color: #232323;
        margin-top: 20px;
    }
}
.selected {
    img {
        @include imgProperties(257px);
    }
}

.friends {
    position: absolute;
    top: 0px;
    img {
        @include imgProperties(182px);
    }
    div:nth-child(1) {
        @include friendsAvatar(105px, unset, 50px);
    }
    div:nth-child(2) {
        @include friendsAvatar(unset, 180px, 228px);
    }
    div:nth-child(3) {
        @include friendsAvatar(102px, unset, 221px);
    }
    div:nth-child(4) {
        @include friendsAvatar(unset, 180px, 410px);
    }
}

.avatarInner {
    position: relative;
    margin-top: 35px;
}

.stepFour {
    h4 {
        @extend .regular-desktop25-mobile16;
    }
}

.donationMobile {
    display: none;
}

.donations {
    padding: 10px 0px;
    background-color: #f3e6ca;
    width: 169px;
    text-align: center;
    margin-right: 30px;
    cursor: pointer;
    &:hover {
        background-color: $yellow;
    }
    h4 {
        margin: 0px;
    }
}

.donationInner {
    margin-top: 55px;
    h2 {
        @extend .boldGame41;
    }
    p {
        margin-top: 10px;
        color: #ff9872;
        opacity: 1;
        animation-fill-mode: forwards;
    }
    h3 {
        font-size: 25px;
        font-weight: $bold;
        opacity: 0;
        animation-fill-mode: forwards;
    }
}

.contentAnimation {
    p {
        animation-name: contetHide;
        animation-duration: 1s;
    }

    h3 {
        animation-name: contentShow;
        animation-duration: 2s;
    }
}

@keyframes contentShow {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        position: absolute;
    }
}

@keyframes contetHide {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        position: absolute;
    }
}

.donationActive {
    background-color: $yellow;
}

.yellow {
    color: $yellow;
}

.percentageSelected {
    img {
        @include imgProperties(191px);
    }
}

.percentageFriends {
    position: absolute;
    top: 0px;
    img {
        @include imgProperties(135px);
        object-fit: contain;
    }
    div:nth-child(1) {
        @include friendsAvatar(84px, unset, 37px);
    }
    div:nth-child(2) {
        @include friendsAvatar(unset, 140px, 174px);
    }
    div:nth-child(3) {
        @include friendsAvatar(84px, unset, 173px);
    }
    div:nth-child(4) {
        @include friendsAvatar(unset, 142px, 311px);
    }
}

.signUpsection {
    button {
        width: 30%;
        margin-top: 55px;
        background-color: $yellow;
        border: 1px solid $yellow;
        padding: 20px 0px;
        font-size: 20px;
        color: #212429;
        font-weight: $semi-bold;
    }
    h2 {
        margin-top: 40px;
    }
}

.coin {
    width: 75px;
    height: 75px;
    animation-name: example;
    animation-duration: 20s;
    animation-fill-mode: forwards;
}

@keyframes example {
    0% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
    10% {
        transform: translate(0px, 320px);
        width: 37px;
        height: 37px;
    }
    20% {
        transform: translate(50px, 340px);
    }
    30% {
        transform: translate(110px, 420px);
    }
    40% {
        transform: translate(150px, 520px);
    }
    50% {
        transform: translate(140px, 590px);
    }
    60% {
        transform: translate(70px, 650px);
    }
    70% {
        transform: translate(0px, 700px);
    }
    80% {
        transform: translate(-100px, 660px);
    }
    90% {
        transform: translate(-120px, 600px);
    }
    92% {
        transform: translate(-160px, 510px);
    }
    100% {
        transform: translate(-160px, 400px);
        opacity: 0;
        width: 100px;
        height: 100px;
    }
}

.donationCycleItems {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #f4f4f4;
    position: absolute;
    border-radius: 50px;
}

.animationGrid {
    height: 700px;
    justify-content: center;
    display: flex;
    > div:nth-child(1) {
        @include coinAnimation(unset, unset, unset, unset, opacityAnimation, 3s, displayAnimation, 5s);
    }
    div:nth-child(2) {
        @include coinAnimation(40%, 50px, unset, unset, opacityAnimation, 5s, displayAnimation, 8s);
    }
    div:nth-child(3) {
        @include coinAnimation(35%, 170px, unset, unset, opacityAnimation, 8s, displayAnimation, 11s);
    }
    div:nth-child(4) {
        @include coinAnimation(31%, 300px, unset, unset, opacityAnimation, 12s, displayAnimation, 14s);
    }
    div:nth-child(5) {
        @include coinAnimation(35%, 430px, unset, unset, opacityAnimation, 15s, displayAnimation, 18s);
    }
    div:nth-child(6) {
        @include coinAnimation(40%, 535px, unset, unset, opacityAnimation, 18s, displayAnimation, 21s);
    }
    div:nth-child(7) {
        @include coinAnimation(unset, unset, 0, unset, opacityAnimation, 21s, displayAnimation, 24s);
    }
    div:nth-child(8) {
        @include coinAnimation(unset, unset, 40px, 40%, opacityAnimation, 25s, displayAnimation, 27s);
    }
    div:nth-child(9) {
        @include coinAnimation(unset, unset, 145px, 34%, opacityAnimation, 28s, displayAnimation, 30s);
    }
    div:nth-child(10) {
        @include coinAnimation(unset, unset, 275px, 31%, opacityAnimation, 30s, displayAnimation, 33s);
    }
    div:nth-child(11) {
        @include coinAnimation(unset, unset, 460px, 2%, opacityAnimation, 36s, displayAnimation, 36s);
        position: absolute;
        display: flex;
        .donationCycleItems {
            position: relative;
            right: 0;
            top: 0;
            margin-left: 20px;
        }
        h2 {
            @extend .regular-desktop25-mobile9;
            color: $darkGrey;
            text-align: end;
        }
        p {
            @extend .regular20;
            color: $neutralBlack800;
            text-align: end;
        }
        div:nth-child(1) {
            animation-name: opacityAnimation;
            animation-duration: 45s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes opacityAnimation {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes displayAnimation {
    0% {
        opacity: 1;
        position: relative;
    }
    50% {
        opacity: 1;
        position: relative;
    }
    75% {
        opacity: 0;
        position: absolute;
    }
    100% {
        opacity: 0;
        position: absolute;
    }
}

@include media(">=320px", "<768px") {
    .container {
        padding: 30px;
        text-align: center;
    }

    .avatarWrapper {
        width: 100%;
        flex-wrap: wrap;
        gap: 25px;
        img {
            @include imgProperties(84px);
        }
    }

    .gameStepTwo {
        width: 100%;
        img {
            @include imgProperties(84px);
        }
        input {
            font-size: 16px;
            padding: 8px 10px;
        }
        button {
            font-size: 12px;
            padding: 10px 0px;
        }
    }

    .gameStepThree {
        flex-direction: column !important;
        .user {
            img {
                @include imgProperties(115px);
            }
        }
        .gameStepThreeUserColumn {
            width: 100%;
            h3 {
                font-size: 11px;
            }
            .selected {
                img {
                    @include imgProperties(115px);
                }
            }
            .friends {
                img {
                    @include imgProperties(80px);
                }
                div:nth-child(1) {
                    right: unset;
                    bottom: 20px;
                    left: 82px;
                    display: block !important;
                }
                div:nth-child(2) {
                    left: 82px;
                    bottom: 18px;
                    display: block !important;
                }
                div:nth-child(3) {
                    bottom: 177px;
                    right: 50px;
                    left: unset;
                    display: block !important;
                }
                div:nth-child(4) {
                    bottom: 180px;
                    right: 47px;
                    display: block !important;
                }
            }
        }
        .gameStepThreeFriendsColumn {
            width: 100%;
            .avatarWrapper {
                width: 100%;
                img {
                    @include imgProperties(80px);
                }
            }
        }
    }

    .donationDesktop {
        display: none;
    }

    .donationMobile {
        display: block;
        width: 100%;
        select {
            width: 100%;
            text-align: center;
            border: none;
            border-bottom: 4px solid $yellow;
            padding: 5px;
        }
        select:focus-visible {
            outline: none;
        }
    }

    .percentageSelected {
        img {
            @include imgProperties(67px);
        }
    }

    .percentageFriends {
        img {
            @include imgProperties(47px);
        }
        div:nth-child(1) {
            right: unset;
            bottom: 12px;
            left: 40px;
        }
        div:nth-child(2) {
            bottom: 20px;
            left: 40px;
        }
        div:nth-child(3) {
            bottom: 118px;
            left: unset;
            right: 38px;
        }
        div:nth-child(4) {
            bottom: 129px;
            right: 39px;
        }
    }

    .donationInner {
        .avatarInner {
            margin-top: 60px;
        }
        p {
            font-size: 7px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .signUpsection {
        button {
            width: 100%;
            font-size: 12px;
            padding: 10px 0px;
        }
    }

    .donationCycleItems {
        padding: 10px 5px;
    }

    .animationGrid {
        position: relative;
        width: 100%;
        height: 290px;
        justify-content: center;
        display: flex;
        img {
            @include imgProperties(25px);
        }
        > div:nth-child(1) {
            animation-name: opacityAnimation;
            animation-duration: 3s;
            span {
                animation-name: displayAnimation;
                animation-duration: 5s;
                animation-fill-mode: forwards;
                color: #6962df;
                font-size: 7px;
            }
        }
        div:nth-child(2) {
            right: 23%;
            top: 15px;
            animation-name: opacityAnimation;
            animation-duration: 5s;
            span {
                animation-name: displayAnimation;
                animation-duration: 8s;
                animation-fill-mode: forwards;
                font-size: 7px;
            }
        }
        div:nth-child(3) {
            right: 11%;
            top: 60px;
            animation-name: opacityAnimation;
            animation-duration: 8s;
            span {
                animation-name: displayAnimation;
                animation-duration: 11s;
                animation-fill-mode: forwards;
                font-size: 7px;
            }
        }
        div:nth-child(4) {
            right: 0%;
            top: 110px;
            animation-name: opacityAnimation;
            animation-duration: 12s;
            span {
                animation-name: displayAnimation;
                animation-duration: 14s;
                animation-fill-mode: forwards;
                font-size: 7px;
            }
        }
        div:nth-child(5) {
            right: 10%;
            top: 169px;
            animation-name: opacityAnimation;
            animation-duration: 15s;
            span {
                animation-name: displayAnimation;
                animation-duration: 18s;
                animation-fill-mode: forwards;
                font-size: 7px;
            }
        }
        div:nth-child(6) {
            right: 23%;
            top: 219px;
            animation-name: opacityAnimation;
            animation-duration: 18s;
            span {
                animation-name: displayAnimation;
                animation-duration: 21s;
                animation-fill-mode: forwards;
                font-size: 7px;
            }
        }
        div:nth-child(7) {
            bottom: 0;
            animation-name: opacityAnimation;
            animation-duration: 21s;
            span {
                animation-name: displayAnimation;
                animation-duration: 24s;
                animation-fill-mode: forwards;
                font-size: 7px;
            }
        }
        div:nth-child(8) {
            bottom: 28px;
            left: 21%;
            animation-name: opacityAnimation;
            animation-duration: 25s;
            span {
                animation-name: displayAnimation;
                animation-duration: 27s;
                animation-fill-mode: forwards;
                font-size: 7px;
            }
        }
        div:nth-child(9) {
            bottom: 76px;
            left: 10%;
            animation-name: opacityAnimation;
            animation-duration: 28s;
            span {
                animation-name: displayAnimation;
                animation-duration: 30s;
                animation-fill-mode: forwards;
                font-size: 7px;
            }
        }
        div:nth-child(10) {
            bottom: 130px;
            left: 0%;
            animation-name: opacityAnimation;
            animation-duration: 30s;
            span {
                animation-name: displayAnimation;
                animation-duration: 33s;
                animation-fill-mode: forwards;
                font-size: 7px;
            }
        }
        div:nth-child(11) {
            bottom: 193px;
            left: 0%;
            animation-name: opacityAnimation;
            animation-duration: 33s;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row-reverse;
            span {
                animation-name: displayAnimation;
                animation-duration: 33s;
                animation-fill-mode: forwards;
                font-size: 7px;
            }
            .donationCycleItems {
                position: relative;
                right: 0;
                top: 0;
                margin-left: 0px;
                margin-right: 7px;
            }
            img {
                @include imgProperties(70px);
            }
            h2 {
                text-align: left;
                margin-bottom: 0px;
            }
            p {
                text-align: left;
                margin-bottom: 0px;
            }
            div:nth-child(1) {
                width: 87px;
                animation-name: opacityAnimation;
                animation-duration: 33s;
                animation-fill-mode: forwards;
            }
        }
    }

    .userDonation {
        img {
            @include imgProperties(67px);
        }
    }

    .coinDefault {
        img {
            @include imgProperties(23px);
        }
    }

    .coin {
        animation-name: coinAnimatonMobile;
        animation-duration: 20s;
        animation-fill-mode: forwards;
        img {
            width: 23px;
            height: 23px;
        }
    }

    @keyframes coinAnimatonMobile {
        0% {
            transform: translate(0px, 0px);
            opacity: 1;
        }

        10% {
            transform: translate(0px, 120px);
            opacity: 1;
            width: 37px;
            height: 37px;
        }

        20% {
            transform: translate(30px, 150px);
            width: 37px;
            height: 37px;
            opacity: 1;
        }

        30% {
            transform: translate(60px, 180px);
            width: 37px;
            height: 37px;
            opacity: 1;
        }

        40% {
            transform: translate(90px, 220px);
            width: 37px;
            height: 37px;
            opacity: 1;
        }

        50% {
            transform: translate(70px, 260px);
            width: 37px;
            height: 37px;
            opacity: 1;
        }

        60% {
            transform: translate(40px, 300px);
            width: 37px;
            height: 37px;
            opacity: 1;
        }

        70% {
            transform: translate(0px, 330px);
            width: 37px;
            height: 37px;
            opacity: 1;
        }

        80% {
            transform: translate(-30px, 300px);
            width: 37px;
            height: 37px;
            opacity: 1;
        }

        90% {
            transform: translate(-60px, 270px);
            width: 37px;
            height: 37px;
            opacity: 1;
        }

        92% {
            transform: translate(-90px, 230px);
            opacity: 1;
            width: 37px;
            height: 37px;
        }

        100% {
            transform: translate(-90px, 220px);
            opacity: 1;
            width: 100px;
            height: 100px;
        }
    }

    .contentAnimation {
        h3 {
            font-size: 9px;
        }
    }
}
