@use "styles/mixins.scss";
@import "styles/theme.scss";
@import "styles/includeMedia.scss";
@import "styles/font/fontGroups.scss";

.heroContainer {
    @extend .backgroundPattern;
    color: $white;
    min-height: 31rem;

    h1 {
        @extend .bold36;
        max-width: 40%;
        margin-bottom: 30px
    }

    h5 {
        @extend .regular16;
        margin-bottom: 50px
    }

    blockquote {
        @extend .bold25;

        &::before {
            content: "";
            background-image: $blockquote-prefix-image;
            background-size: 50px 62px;
        }
    }
}

@include media(">=desktop") {
    .heroContainer {
        @include blockquoteDesktopCSS();
    }
}

@include media("<desktop") {
    .heroContainer {
        @include blockquoteTabletCSS();
    }
}
