@use "styles/mixins.scss";
@import "styles/theme.scss";
@import "styles/includeMedia.scss";
@import "styles/font/fontGroups.scss";

.heroContainer {
    @extend .backgroundPattern;
    color: $white;
    padding: 120px 100px 50px 100px;

    h1 {
        @extend .bold36;
        max-width: 40%;
        margin-bottom: 30px;
    }

    h5 {
        @extend .regular-desktop-16-mobile-16;
        margin-bottom: 50px;
    }

    blockquote {
        @extend .bold-desktop-25-mobile-24;

        &::before {
            content: "";
            background-image: $blockquote-prefix-image;
            background-size: 50px 62px;
        }
    }
}

@include media("<desktop") {
    .heroContainer {
        padding: 120px 30px 50px 30px;
        h1 {
            max-width: 100%;
            margin-bottom: 10px;
        }

        h5 {
            margin-bottom: 40px;
        }

        blockquote {
            &::before {
                padding-bottom: 130px;
                background-size: 50px 105px;
            }

            p {
                margin-top: 145px;
            }
        }
    }
}
