@import "styles/theme.scss";

:export {
    yellow: $yellow;
    red: $light-red;
    orange: $orange;
    purple: $purple;
    green: $green;
    brown: $brown;
    white: $white;
    black: $neutral-Black-800;
}
