@import "styles/theme.scss";
@import "styles/font/fontGroups.scss";

.breadcrumbMain {
    @extend .regular-desktop25-mobile16;

    :global(.breadcrumb-item) {
        color: $yellow;
    }

    :global(.breadcrumb-item + .breadcrumb-item::before) {
        content: ">";
        color: $black;
    }
}