@import "styles/font/fontGroups.scss";
@import "styles/includeMedia.scss";
@import "styles/mixins.scss";

@mixin contentProperties($containerPadding, $contentPadding) {
    .container {
        padding: $containerPadding;

        .contentContainer {
            padding: $contentPadding;
        }
    }
}

.container {
    .contentContainer {
        min-height: 350px;

        .title {
            @extend .bold-desktop-36-mobile-24;

            .arrowContainer {
                @include fluidDimension("width", 10, 45);
            }
        }

        .description {
            @extend .regular-desktop-16-mobile-14;
        }
    }
}

@include media(">=desktop") {
    .content {
        min-height: 640px;
    }

    @include contentProperties(7rem 0, 0 3rem);
}

@include media(">=tablet", "<desktop") {
    @include contentProperties(3rem 0, 0 1rem);
}

@include media("<tablet") {
    @include contentProperties(0, 45px 30px);

    .container {
        .contentContainer {
            min-height: 180px;

            .center {
                text-align: center;
            }

            .title .arrowContainer {
                transform: scale(0.8);
            }
        }
    }
}
