@import "styles/theme.scss";
@import "styles/includeMedia.scss";
@import "styles/font/fontGroups.scss";

.contentContainer {
    background-color: $neutral-light-black;
    border-radius: 10px;

    h5,
    p,
    li,
    h5 span {
        @extend .regular16;
        margin: 1rem 0;
    }

    h1 {
        @extend .bold31;
    }

    h2 {
        @extend .bold31;
    }
}

@include media(">=tablet") {
    .contentContainer {
        margin: 2rem 6rem;
    }
}

@include media("<tablet") {
    .contentContainer {
        margin: 2rem;
    }
}
