@import "styles/includeMedia.scss";
@import "styles/mixins.scss";
@import "styles/theme.scss";
@import "styles/font/fontGroups.scss";
@import "styles/functions.scss";

@include opacityKeyFrames();

@mixin panelContentOpacity($classname, $opacity, $animation) {
    #{$classname} {
        opacity: $opacity;
        animation: $animation;
    }
}

.content3 {
    .headerEmphasisText {
        @extend .bold150;
        color: $translucent-white;
        width: fit-content;
        text-transform: capitalize;
    }

    .container {
        margin: 0;
        .contentContainer {
            background: $yellow;
            background-image: url("/images/homepage/verticalContentSection/bg-spiffy-watermark.svg");
            background-size: contain;
            background-repeat: no-repeat;

            :global(.swiper-slide-prev) {
                @include panelContentOpacity(".panelHeader", 0, hide 0.5s);
            }

            :global(.swiper-slide-active) {
                @include panelContentOpacity(".panelHeader", 1, show 2s);
            }

            :global(.swiper-slide-next) {
                @include panelContentOpacity(".panelHeader", 0, hide 0.5s);
            }
        }
    }

    aside.panel {
        h2.panelHeader {
            @extend .bold60;
            color: $black;
            text-transform: capitalize;

            .highlightText {
                @extend .bold60;
                color: $blue;
            }
        }
    }
}

@include media(">=desktop") {
    .content3 {
        .panelHeader {
            padding-left: 6rem;
            padding-top: 1rem;
        }
    }
}

@include media(">=tablet", "<desktop") {
    .panelHeader {
        padding-left: 1rem;
        padding-top: 3rem;
    }
}

@include media(">tablet") {
    .content3 {
        .headerEmphasisText {
            left: 5%;
        }

        .container {
            @include fluidDimension("height", 230, 768);
        }
        aside.panel {
            @include fluidDimension("height", 230, 768);
        }
    }
}

@include media("<tablet") {
    .container {
        .headerEmphasisText {
            top: 5%;
            left: 5%;
        }

        height: 480px;
        aside.panel {
            min-height: 480px;

            h2.panelHeader {
                padding-top: 1rem;
            }
        }
    }
}
