@import "styles/includeMedia.scss";
@import "styles/theme.scss";
@import "styles/font/fontGroups.scss";
@import "styles/mixins.scss";
@import "styles/variables.scss";

@include opacityKeyFrames();

@mixin panelContentOpacity($classname, $opacity, $animation) {
    #{$classname} {
        opacity: $opacity;
        animation: $animation;
    }
}

.content3 {
    .headerEmphasisText {
        @extend .bold51;
        color: $translucent-white;
        width: fit-content;
        text-transform: capitalize;
    }

    .container {
        margin: 0;
        top: $headerHeigth;
        box-shadow: 0px -13px 20px 0px $light-grey-transparent;
        height: 100vh;
        .contentContainer {
            background: $yellow;
            background-image: url("/images/homepage/verticalContentSection/bg-spiffy-watermark.svg");
            background-size: contain;
            background-repeat: no-repeat;

            :global(.swiper-slide-prev) {
                @include panelContentOpacity(".panelHeader", 0, hide 0.5s);
            }

            :global(.swiper-slide-active) {
                @include panelContentOpacity(".panelHeader", 1, show 2s);
            }

            :global(.swiper-slide-next) {
                @include panelContentOpacity(".panelHeader", 0, hide 0.5s);
            }
        }

        aside.panel {
            h2.panelHeader {
                @extend .bold-desktop-36-mobile-24;
                color: $black;
                text-transform: capitalize;

                .highlightText {
                    @extend .bold-desktop-36-mobile-24;
                    color: $blue;
                }
            }
        }
    }
}

@include media(">=tablet", "<desktop") {
    .panelHeader {
        padding-left: 1rem;
        padding-top: 3rem;
    }
}

@include media(">=tablet") {
    .content3 {
        .container {
            height: 100vh;
        }
        .headerEmphasisText {
            left: 5%;
            top: 10%;
        }

        aside.panel {
            @include fluidDimension("height", 230, 768);
        }
    }
}

@include media("<tablet") {
    .content3 {
        .container {
            height: 50%;
            .headerEmphasisText {
                top: 5%;
                left: 5%;
            }
            aside.panel {
                min-height: 480px;

                h2.panelHeader {
                    padding-top: 1rem;
                }
            }
        }
    }
}
