@use "sass:math";
@import "styles/includeMedia.scss";
@import "styles/theme.scss";
@import "styles/font/fontGroups.scss";
@import "styles/mixins.scss";

@mixin gameContentPadding($padding) {
    padding: $padding;
}

@mixin imgProperties($size) {
    width: $size;
    height: $size;
    object-fit: contain;
}

.activeTab {
    border: 2px solid $yellow;
    color: $yellow;
}

.friendsTop {
    margin-bottom: -62px;
}

.friendsBottom {
    margin-top: -58px;
}

.friendsTop,
.friendsBottom {
    > div {
        margin: 0 auto;
    }
}

.friendsMain {
    max-width: 255px;
}

.gameStepFive {
    @include gameContentPadding(50px 0);
    width: 90%;

    h4 {
        @extend .regular-desktop25-mobile16;
    }

    .navToggle {
        border: none;
    }
}

.avatarHeading {
    @extend .regular-desktop30-mobile20;
    color: $yellow;
}

.fadeIn {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}

.fadeOut {
    visibility: hidden;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.donationActive {
    background-color: $yellow;
}

.donationInner {
    margin-top: 40px;
    h2 {
        @extend .boldGame41;
        margin-bottom: 40px;
    }

    h6 {
        margin-top: 20px;
    }
}

.avatarInner {
    margin-top: 35px;
}

.percentageSelected {
    svg {
        @include imgProperties(119px);
    }
}

.donationButton {
    background-color: $faded-yellow;
    margin-right: 20px;
}

.active {
    background-color: $yellow;
}

.inactive {
    background-color: $faded-yellow;
    border: none;
    color: $darkGrey;
}

.flexOne {
    flex: 1;
}

@include media(">=phone", "<1000px") {
    .donationInner {
        h6 {
            margin-top: 30px;
        }
    }

    .gameStepFive {
        nav {
            padding: 0 20px;
        }
    }

    .friendsMain {
        max-width: 120px;
    }

    .donationButton {
        margin-bottom: 10px !important;
    }

    .friendsBottom {
        margin-top: -21px;
    }

    .friendsTop {
        margin-bottom: -18px;
    }

    .friendsTop,
    .friendsBottom {
        div {
            svg {
                @include imgProperties(35px);
            }
        }
    }

    .gameStepFive {
        @include gameContentPadding(50px 0px);
        width: 100%;
    }

    .percentageSelected {
        svg {
            @include imgProperties(40px);
        }
    }
}

@include media(">=tablet", "<990px") {
    .friendsMain {
        max-width: 195px;
    }

    .percentageSelected {
        svg {
            @include imgProperties(90px);
        }
    }

    .friendsBottom {
        margin-top: -45px;
    }

    .friendsTop {
        margin-bottom: -45px;
    }

    .friendsTop,
    .friendsBottom {
        div {
            svg {
                @include imgProperties(60px);
            }
        }
    }
}
