@use "sass:math";
@import "styles/includeMedia.scss";
@import "styles/theme.scss";
@import "styles/font/fontGroups.scss";
@import "styles/mixins.scss";

@mixin gameContentPadding($padding) {
    padding: $padding;
}

@mixin imgProperties($size) {
    width: $size;
    height: $size;
    object-fit: contain;
}

@mixin percentageAvatars($right, $left, $bottom) {
    right: $right;
    left: $left;
    bottom: $bottom;
    display: block !important;
}

.activeTab {
    border: 2px solid $yellow;
    color: $yellow;
    opacity: 1;
}
.friendsTop {
    margin-bottom: -60px;
    > div {
        width: 100%;
        justify-content: space-between;
        display: flex;
        margin: 0 auto;
    }
}

.friendsBottom {
    margin-top: -65px;
    > div {
        width: 100%;
        justify-content: space-between;
        display: flex;
        margin: 0 auto;
    }
}
.friendsMain {
    max-width: 255px;
    text-align: center;
}
.gameStepFive {
    @include gameContentPadding(50px 0);
    width: 90%;

    h4 {
        @extend .regular-desktop25-mobile16;
    }

    .navToggle {
        border: none;
    }
}

.donationButton {
    background-color: #f3e6ca;
}

.avatarHeading {
    @extend .regular-desktop30-mobile20;
}

.donations {
    padding: 10px 0px;
    background-color: #f3e6ca;
    width: 169px;
    text-align: center;
    margin-right: 30px;
    cursor: pointer;
    &:hover {
        background-color: $yellow;
    }
    h4 {
        margin: 0px;
    }
}

.donationMobile {
    display: none;
}

.donationActive {
    background-color: $yellow;
}

.donationInner {
    display: flex;
    margin-top: 40px;
    h2 {
        @extend .boldGame41;
        margin-bottom: 40px;
    }
    p {
        margin-top: 10px;
        color: #ff9872;
        opacity: 1;
        animation-fill-mode: forwards;
    }
    h3 {
        font-size: 25px;
        font-weight: $bold;
        opacity: 0;
        animation-fill-mode: forwards;
    }
    h6 {
        margin-top: 60px;
    }
}

.yellow {
    color: $yellow;
}

.avatarInner {
    position: relative;
    margin-top: 35px;
}

.percentageSelected {
    img {
        @include imgProperties(119px);
    }
}

.percentageFriends {
    position: absolute;
    top: 0px;
    img {
        @include imgProperties(87px);
        object-fit: contain;
    }
    div:nth-child(1) {
        @include percentageAvatars(70px, unset, -54px);
    }
    div:nth-child(2) {
        @include percentageAvatars(unset, 73px, 33px);
    }
    div:nth-child(3) {
        @include percentageAvatars(71px, unset, 35px);
    }
    div:nth-child(4) {
        @include percentageAvatars(unset, 73px, 122px);
    }
}

@for $i from 1 through 120 {
    .confetti:nth-child(#{$i}) {
        position: absolute;
        top: (random(300) + 4) + px;
        left: (random(600) + 4) + px;
        img {
            width: (random(30) + 20) + px;
            object-fit: contain;
        }
    }
}

@for $i from 1 through 120 {
    .confettiRight:nth-child(#{$i}) {
        position: absolute;
        top: (random(300) + 4) + px;
        right: (random(600) + 4) + px;
        img {
            width: (random(30) + 20) + px;
            object-fit: contain;
        }
    }
}

.donationButton {
    background-color: #f3e6ca;
    margin-right: 20px;
}

.active {
    background-color: $yellow;
}

.inactive {
    background-color: #f3e6ca;
}

.left,
.right {
    display: flex;
    flex-wrap: wrap;
}
.flexOne {
    flex: 1;
}
.left {
    div {
        width: 100%;
        height: 100%;
    }
}

@include media(">=phone", "<tablet") {
    .donationInner {
        h6 {
            margin-top: 30px;
        }
    }
    .gameStepFive {
        nav {
            padding: 0 20px;
        }
    }
    .friendsMain {
        max-width: 120px;
    }
    .donationButton {
        margin-bottom: 10px;
    }
    .donationDesktop {
        display: none;
    }
    .friendsBottom {
        margin-top: -25px;
        div {
            img {
                @include imgProperties(35px);
            }
        }
    }
    .friendsTop {
        margin-bottom: -20px;
        div {
            img {
                @include imgProperties(35px);
            }
        }
    }
    .donationMobile {
        display: block;

        select {
            width: 100%;
            text-align: center;
            border: none;
            border-bottom: 4px solid $yellow;
            padding: 5px;
        }
        select:focus-visible {
            outline: none;
        }
    }

    .gameStepFive {
        @include gameContentPadding(50px 0px);
        width: 100%;
    }

    .percentageSelected {
        img {
            @include imgProperties(40px);
        }
    }
}

@include media(">=tablet", "<990px") {
    .friendsMain {
        max-width: 195px;
    }
    .percentageSelected {
        img {
            @include imgProperties(90px);
        }
    }
    .friendsBottom {
        margin-top: -45px;
        div {
            img {
                @include imgProperties(60px);
            }
        }
    }
    .friendsTop {
        margin-bottom: -45px;
        div {
            img {
                @include imgProperties(60px);
            }
        }
    }
    .donations {
        width: 69px;
    }
}
