// Dark background pattern
@import "styles/font/fontWeights.scss";
@import "styles/font/fontSizes.scss";

// Different font weights and sizes
.regular12 {
    font-size: $twelve;
    font-weight: $regular;
}

.regular13 {
    font-size: $thirteen;
    font-weight: $regular;
}

.regular15 {
    font-size: $fifteen;
    font-weight: $regular;
}

.regular16 {
    font-size: calc(9px + (16 - 9) * ((100vw - 480px) / (1920 - 480)));
    font-weight: $regular;
}

.regular18 {
    font-size: $eighteen;
    font-weight: $regular;
}

.regular20 {
    font-size: $twenty;
    font-weight: $regular;
}

.regular24 {
    font-size: calc(14px + (24 - 14) * ((100vw - 480px) / (1920 - 480)));
    font-weight: $regular;
}

.regular25 {
    font-size: calc(14px + (25 - 14) * ((100vw - 480px) / (1920 - 480)));
    font-weight: $regular;
}

.medium18 {
    font-size: $eighteen;
    font-weight: $medium;
}

.medium20 {
    font-size: $twenty;
    font-weight: $medium;
}

.medium25 {
    font-size: $twentyFive;
    font-weight: $medium;
}

.semiBold16 {
    font-size: $sixteen;
    font-weight: $semi-bold;
}

.semiBold20 {
    font-size: $twenty;
    font-weight: $semi-bold;
}

.bold20 {
    font-size: $twenty;
    font-weight: $bold;
}

.bold24 {
    font-size: calc(14px + (24 - 14) * ((100vw - 480px) / (1920 - 480)));
    font-weight: $bold;
}
