@import "styles/theme.scss";
@import "styles/font/fontGroups.scss";

.gameHead {
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;
}

.gameHeading {
    @extend .bold109;
}

.gameDesc {
    @extend .medium25;
    color: $yellow;
}
