@import "styles/font/fontGroups.scss";
@import "styles/theme.scss";

.commonWrapper {
    padding: 5rem;
    .contentContainer {
        h2 {
            @extend .bold31;
        }

        h5 {
            @extend .regular-desktop-16-mobile-14;
        }
    }
}

.inverted {
    @extend .backgroundPattern;
    color: $white;
}

@include media("<tablet") {
    .commonWrapper {
        padding: 45px 30px;
    }
}
