@use "styles/theme.scss";
@use "styles/includeMedia.scss";

.cardPlaceholderContainer {
    & > div {
        border-radius: 12px;
    }

    & > * + * {
        margin-left: 2rem;
    }
}

@include includeMedia.media(">=desktop") {
    .cardPlaceholderContainer {
        width: 440px;
    }
}

@include includeMedia.media("<desktop") {
    .cardPlaceholderContainer {
        & > div {
            width: 300px;
        }
    }
}

:export {
    placeholderColor: theme.$light-grey;
}
