@import "styles/theme.scss";
@import "styles/mixins.scss";
@import "styles/includeMedia.scss";

.bannerContainer {
    @extend .backgroundPattern;
}

.carouselItem div,
.carouselItem {
    min-height: 25rem;
}

.full {
    min-height: 40rem;
}

.carouselItem {
    min-height: 40rem;
}

.full {
    & > div:first-child {
        height: 100vh;
    }
}

@include media(">=1340px") {
    .carouselItem div {
        min-height: 40rem;
        width: 100vw;
    }
}

@include media("<1340px") {
    .carouselItem div {
        min-height: 24rem;
    }
}

@include media(">tablet", "<1340px") {
    .carouselItem div {
        min-height: 50rem;
    }
}

@include media("<=tablet") {
    .carouselItem {
        min-height: 22rem;
        div {
            min-height: 22rem;
        }
    }
}
