@import "styles/theme.scss";
@import "styles/mixins.scss";
@import "styles/includeMedia.scss";
@import "styles/variables.scss";

.bannerContainer {
    @extend .backgroundPattern;
}

.carouselItem div,
.carouselItem {
    max-height: 100%;
}

.full {
    max-height: 100%;
}

.half {
    max-height: 500px;
}

.full {
    & > div:first-child {
        height: $vh;
    }
}

@include media(">=1340px") {
    .carouselItem div {
        width: 100vw;
    }
}

@include media("<1340px") {
    .carouselItem div {
        min-height: 24rem;
    }
}

@include media(">tablet", "<1340px") {
    .carouselItem div {
        min-height: 50rem;
    }
}

@include media("<=tablet") {
    .carouselItem {
        max-height: $vh;
    }
}
