@use "styles/mixins.scss";
@import "styles/font/fontGroups.scss";
@import "styles/includeMedia.scss";
@import "styles/theme.scss";

.detailsContainer {
    h5,
    h5 span {
        @extend .medium16;
        color: $light-grey;
        margin: 0.5rem 0;
    }

    h1 {
        @extend .bold36;
    }

    h2 {
        @extend .extraBold41;
    }

    blockquote {
        &::before {
            content: "";
            background-image: $blockquote-prefix-image;
        }

        p:nth-child(odd) {
            @extend .bold-desktop41-mobile25;
        }

        p:nth-child(even) {
            @extend .bold25;
            text-align: right;
        }
    }

    img {
        width: 100%;
        object-fit: cover;
    }

    strong {
        @extend .bold25;
    }

    @include media(">=desktop") {
        .mediaContainer {
            margin: 1.8rem 0;
        }

        @include blockquoteDesktopCSS();
    }

    @include media("<desktop") {
        .mediaContainer {
            margin: 3rem 0;
        }

        blockquote {
            display: flex;
            flex-direction: column;
        }

        @include blockquoteTabletCSS();
    }
}
