@import "styles/font/fontGroups.scss";
@import "styles/includeMedia.scss";
@import "styles/theme.scss";

.detailsContainer {
    h5,
    h5 span {
        @extend .regular-desktop25-mobile16;
        color: $light-grey;
        margin: 1rem 0;
    }

    h1 {
        @extend .extraBold67;
    }

    h2 {
        @extend .extraBold41;
    }

    blockquote {
        &::before {
            content: "";
            background-image: url("/images/educationDetailsPage/spiffy.svg");
        }

        p:nth-child(odd) {
            @extend .bold-desktop41-mobile25;
        }

        p:nth-child(even) {
            @extend .bold25;
            text-align: right;
        }
    }

    img {
        width: 100%;
        object-fit: cover;
    }

    @include media(">=desktop") {
        .mediaContainer {
            margin: 5rem 0;
        }

        blockquote {
            width: 68%;
            margin-left: auto;

            &::before {
                position: absolute;
                left: 0%;
                margin-top: 1rem;
                width: 150px;
                height: 95px;
            }

            p:first-child::before {
                content: "";
                position: absolute;
                margin-left: -10%;
                height: 115px;
                border: none;
                border-right: 3px solid grey;
                margin-top: 1rem;
            }
        }
    }

    @include media("<desktop") {
        .mediaContainer {
            margin: 3rem 0;
            margin-right: 4rem;
        }

        blockquote {
            display: flex;
            flex-direction: column;

            &::before {
                width: 160px;
                height: 100px;
                border-bottom: 3px solid $light-grey;
                background-position-y: -5px;
            }
        }
    }
}
