@import "styles/theme.scss";
@import "styles/font/fontGroups.scss";
@import "styles/includeMedia.scss";

.card {
    border-radius: 12px;

    .cardTag {
        color: $light-grey;
        @extend .regular-desktop-14-mobile-12;
    }

    .cardTitle {
        @extend .regular-desktop-18-mobile-16;
    }

    .cardDescription {
        @extend .regular-desktop-14-mobile-12;
    }

    .link {
        @extend .bold14;
        cursor: pointer;
        color: $yellow;
    }
}
