@import "styles/theme.scss";
@import "styles/font/fontGroups.scss";
@import "styles/includeMedia.scss";

.container {
    padding: 3rem 0;
    background-color: $dirty-white;

    h2 {
        @extend .bold31;
    }

    h3 {
        @extend .bold-desktop-25-mobile-22;
    }

    h4 {
        @extend .regular-desktop-16-mobile-16;
    }

    h5 {
        @extend .bold24;
    }

    h6,
    label {
        @extend .regular14;
    }

    .overlay {
        background-color: $overlay-grey;
    }

    .contextContainer {
        .topContextContainer {
            background-color: $neutral-light-black;

            .buttonFAQ {
                @extend .bold24;
            }
        }
    }

    .formContainer {
        .formContent {
            background-color: $white;
            border-radius: 10px;
            border: 1px solid $light-transparent-grey;
            box-shadow: 29px 26px 2px 6px $dirty-grey;

            form {
                padding: 30px;
            }

            .formTitle {
                @extend .regular12;
                color: $light-grey;
            }

            .formDesc {
                @extend .bold16;
            }

            .formButtons {
                margin-bottom: 30px;
            }

            .phoneNumberContainer {
                label,
                input {
                    @extend .regular14;
                    @include fluidDimension("min-height", 30, 30);
                    padding: 10px;
                }

                .countryflagContainer {
                    background: url("/images/contact-page/flags/icon-usa.svg") no-repeat;
                    background-position: 40%;
                    border: 1px solid $neutral-black;
                    border-right: 0;
                    border-radius: 8px 0 0 8px;
                    background-size: 30px;
                }
            }

            input,
            textarea {
                @extend .regular14;
                border-radius: 8px;
                padding: 10px;
                background-color: $neutral-light-black;
                border: 1px solid $light-transparent-grey;
                outline-color: $light-transparent-grey;

                &:focus-visible {
                    transition: all 200ms;
                    outline-color: $yellow;
                    border-color: $yellow;
                }
            }

            .inputPhoneNumber {
                background-color: initial;
                border: 1px solid $neutral-black;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }

            .formBottomContent {
                max-width: 400px;
            }
        }

        .userTypeButton {
            @extend .semiBold14;
        }

        .inactive {
            background-color: $faded-yellow;
        }
    }

    .thankYou {
        padding: 152px 0;
        border-radius: 12px;
        margin-top: 30px;

        img,
        .title {
            margin-bottom: 22px;
        }

        .note {
            margin-bottom: 10px;
            padding: 0 60px;
        }
    }
}

@include media(">=desktop") {
    .formContent {
        max-width: 66%;
        min-width: 400px;
    }

    .countryflagContainer {
        min-width: 120px;
    }

    .contextContainer {
        & > div {
            padding: 2rem 7rem;
        }
    }
}

@include media("<desktop") {
    .container {
        padding: 0px;
        .formContainer {
            .formContent {
                width: 90%;
                box-shadow: none;
                margin: 0 auto;
            }
        }
    }

    .countryflagContainer {
        min-width: 90px;
    }

    .contextContainer {
        .topContextContainer {
            padding: 45px 20px;
        }

        .bottomContextContainer {
            padding: 25px 20px;
        }
    }
}
