@import "styles/includeMedia.scss";
@import "styles/theme.scss";

@include media(">=desktop") {
    .container {
        padding: 3rem 6rem;
        background-color: $dirty-white;
    }
}

@include media("<desktop") {
    .container {
        padding: 1.5rem 2rem;
    }
}
