@import "styles/font/fontGroups.scss";
@import "styles/includeMedia.scss";
@import "styles/mixins.scss";
@import "styles/theme.scss";

@mixin cardProperties($marginTop, $padding) {
  margin-top: $marginTop;
  padding: $padding;
}

.container {
  > div {
    // Scroll width For Firefox
    scrollbar-width: none;
    // Scroll width for Edge, Chrome, Opera and Safari
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .sectionContainer:nth-child(2) {
    .cardContainer {
      transform: rotate(-14deg);
    }
  }

  .sectionContainer:nth-child(3) {
    .cardContainer {
      transform: rotate(372deg);
    }
  }

  .imageContainer {
    & > div:first-child {
      height: 100%;
    }
  }
}

.content1 {
  @extend .backgroundPattern;
  background-color: $darkGrey;
  min-height: 640px;
  color: $white;

  .leftSection {
    z-index: 1;

    .cardStack {
      .card {
        .imageContainer .imageLogoContainer {
          width: 60px;
        }

        .cardContainer {
          box-shadow: 1px 2px 10px 0px rgba(229, 229, 229, 0.75);
        }

        .cardContent {
          background: $white;

          h4 {
            @extend .bold25;
            color: $black;
          }

          h6 {
            @extend .regular16;
            color: $neutral-black;
          }
        }
      }
    }
  }

  .rightSection {
    z-index: 1;
    color: $white;
    height: inherit;

    .arrowContainer h2 {
      @extend .bold36;
    }

    h2 {
      @extend .bold36;
    }
  }
}

@include media(">=975px", "<1337px") {
  .leftSection,
  .rightSection {
    flex: 1;
  }
}

@include media(">991px") {
  .container {
    .sectionContainer {
      height: 100vh;
      top: 0%;
    }

    .sectionContainer:nth-child(3) {
      .cardContainer {
        margin-top: 9rem;
      }
    }
  }

  .content1 .leftSection .cardStack {
    .card {
      height: 420px;
      padding: 5rem;
      // For dynamic card box sizing based on viewport
      .imageContainer {
        @include fluidDimension("width", 100, 353);
      }

      .cardContent {
        @include fluidDimension("width", 100, 480);
      }

      &:nth-child(2) {
        @include cardProperties(17rem, 5rem);

        .cardContainer {
          padding-top: 4rem;
        }
      }

      &:nth-child(3) {
        @include cardProperties(28rem, 0 5rem 5rem 5rem);
      }
    }
  }

  .rightSection {
    padding: 5rem 1rem 2rem 2rem;
    text-align: right;
    height: fit-content;
    margin: 0;

    .rightSectionContainer {
      @include fluidDimension("min-height", 300, 450);

      .arrowContainer {
        h2 {
          line-height: 0;
        }
      }

      h2 {
        line-height: 1;
      }
    }
  }
}

@include media("<992px") {
  .sectionContainer {
    top: 10%;
  }

  .card {
    margin: auto;
    margin-bottom: 2rem;
    max-width: 40rem;
  }

  .rightSection {
    padding: 3rem 3rem 0 3rem;
  }
}

@include media("<=1337px") {
  .cardStack {
    padding: 1rem 1rem 3rem 1rem;

    .card {
      transform: rotate(0);

      .imageContainer,
      .cardContent {
        flex: 1;
      }
    }
  }

  .container {
    margin-bottom: 1rem;
    padding: 1rem;
  }
}

@include media("<desktop") {
  .content1 .leftSection .cardStack .imageContainer {
    min-width: 120px;
  }
}
