@import "styles/includeMedia.scss";
@import "styles/theme.scss";
@import "styles/font/fontGroups.scss";
@import "styles/mixins.scss";
@import "styles/variables.scss";

.gameStepSix {
    padding: 100px 0;
    width: 100%;

    .signUpsection {
        .avatarHeading,
        button {
            margin-top: 40px;
        }

        .avatarHeading {
            @extend .regular-desktop30-mobile20;
        }

        button {
            max-width: 25%;
            width: 100%;
        }
    }
}

@include media(">=phone", "<800px") {
    .gameStepSix .signUpsection button {
        max-width: 80%;
    }
}

@include media(">=800px", "<900px") {
    .gameStepSix .signUpsection button {
        max-width: 50%;
    }
}

@include media(">=900px", "<1300px") {
    .gameStepSix .signUpsection button {
        max-width: 40%;
    }
}
