@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap";
@import "styles/theme.scss";
@import "styles/includeMedia.scss";

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

blockquote {
	width: 68%;
	margin-left: auto;

	&::before {
		position: absolute;
		left: 5%;
		width: 100px;
		height: 70px;
	}

	p:first-child::before {
		content: "";
		position: absolute;
		margin-left: -10%;
		height: 115px;
		border: none;
		border-right: 3px solid $grey;
		margin-top: -20px;
	}
}

@include media("<desktop") {
	blockquote {
		width: 68%;
		margin-left: auto;

		&::before {
			position: absolute;
			left: 0;
			width: 100px;
			height: 70px;
			margin-top: 65px;
		}

		p:first-child::before {
			content: "";
			position: absolute;
			margin-left: -10%;
			height: 115px;
			border: none;
			border-right: 3px solid $grey;
			margin-top: 50px;
		}
	}
}

@include media("<tablet") {
	blockquote {
		width: 100%;

		&::before {
			position: absolute;
			left: 5%;
			width: 90px;
			height: 70px;
			margin-top: -25px;
			border-bottom: 3px solid;
			background-position-x: -10px;
		}

		p {
			margin-top: 70px;
		}

		p:first-child::before {
			border-right: none;
		}
	}
}
