@import "styles/functions.scss";

$prefixes: -webkit-, -moz-, -ms-, -o-;

@mixin crossBrowserPrefix($property, $value) {
    @each $prefix in $prefixes {
        #{$prefix}#{$property}: $value;
    }
    #{$property}: $value;
}

// Takes font weight, minumum and maximum font size and creates a mixin with dynamic font properties.
@mixin typeFace($minValue, $maxValue, $fontWeight) {
    $font-size: fluid($minValue, $maxValue);
    font-size: $font-size;
    line-height: calculate-line-height($font-size);
    letter-spacing: countLetterSpacing($font-size);
    font-weight: $fontWeight;
}

// Common keyframes for opacity
@mixin opacityKeyFrames($opacity: 1) {
    @keyframes show {
        from {
            opacity: 0;
        }

        to {
            @if $opacity == 1 {
                opacity: 1;
            } @else {
                opacity: $opacity;
            }
        }
    }
    @keyframes hide {
        from {
            @if $opacity == 1 {
                opacity: 1;
            } @else {
                opacity: $opacity;
            }
        }

        to {
            opacity: 0;
        }
    }
}

// Takes CSS property name, minimum and maximum value for dynamic property value based on viewport
@mixin fluidDimension($property, $minValue, $maxValue) {
    #{$property}: fluid($minValue, $maxValue);
}

// Take property size for dynamic width and height of image.
@mixin imgProperties($size) {
    width: $size;
    height: $size;
    object-fit: contain;
}

// Take property name and time for dynamic animation name nad time.
@mixin animation($name, $time) {
    animation-name: $name;
    animation-duration: $time;
    animation-fill-mode: forwards;
}
