$prefixes: -webkit-, -moz-, -ms-, -o-;

@mixin crossBrowserPrefix($property, $value) {
    @each $prefix in $prefixes {
        #{$prefix}#{$property}: $value;
    }
    #{$property}: $value;
}

// Takes font weight, minumum and maximum font size and creates a mixin with dynamic font properties.
@mixin typeFace($minValue, $maxValue, $fontWeight) {
    $font-size: fluid($minValue, $maxValue);
    font-size: $font-size;
    line-height: calculate-line-height($font-size);
    letter-spacing: countLetterSpacing($font-size);
    font-weight: $fontWeight;
}

// Common keyframes for opacity
@mixin opacityKeyFrames() {
    @keyframes show {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes hide {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
}

// Takes CSS property name, minimum and maximum value for dynamic property value based on viewport
@mixin fluidDimension($property, $minValue, $maxValue) {
    #{$property}: fluid($minValue, $maxValue);
}

// Common keyframes for opacity
@mixin opacityKeyFrames() {
    @keyframes show {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes hide {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
}
