// Theme colors
$yellow: #f9b930;
$yellow-dark: #cb8a00;
$light-yellow: #ffdb8f;
$faded-yellow: #f3e6ca;
$black: #000;
$neutral-black: #777777;
$neutral-light-black: #e8e8e8;
$white: #fff;
$neutral-white: #f8f8f8;
$translucent-white: #ffffff38;
$transparent-white: #ffffff9e;
$dirty-white: #f2f2f2;
$pattern-bg-color: #3a3838;
$darkGrey: #494949;
$grey: #808080;
$dirty-grey: #e2e2e2;
$light-grey: #98989e;
$overlay-grey: #1b1a1a4d;
$light-transparent-grey: #ffffff31;
$transparent-grey: #1b1a1a;
$red: #ff0c0c;
$light-red: #ff6969;
$blue: #3a4e98;
$transparent: transparent;

.backgroundPattern {
    background: url("/images/homepage/common/pattern-bg.png");
    background-color: $pattern-bg-color;
    background-repeat: repeat;
}
