// Theme colors
$yellow: #f9b930;
$black: #000;
$neutralBlack: #777777;
$white: #fff;
$dirty-white: #f2f2f2;
$pattern-bg-color: #3a3838;
$darkGrey: #494949;
$grey: #808080;
$light-grey: #98989e;
$red: #ff0c0c;
$transparent: transparent;

.backgroundPattern {
    background: url("/images/homepage/common/pattern-bg.png");
    background-color: $pattern-bg-color;
    background-repeat: repeat;
}
