@import "styles/font/fontGroups.scss";
@import "styles/theme.scss";
@import "styles/includeMedia.scss";

.bannerContentContainer {
    z-index: 1;
    width: 100%;

    .title {
        @extend .bold36;
        color: $yellow;
    }

    .date {
        @extend .regular16;
        color: $neutral-white;
    }
}

@include media(">=tablet") {
    .bannerContentContainer {
        padding: 6rem 7rem;
    }
}

@include media("<tablet") {
    .bannerContentContainer {
        padding: 25px 20px;
    }
}
