@import "styles/theme.scss";
@import "styles/font/fontGroups.scss";

.breadcrumbMain {
    @extend .regular-desktop25-mobile16;

    li {
        @extend .medium14;
    }

    :global(.breadcrumb-item) {
        color: $yellow;
    }

    :global(.breadcrumb-item)a:hover {
        color: $yellow-dark;
    }

    :global(.breadcrumb-item + .breadcrumb-item::before) {
        content: ">";
        color: $black;
    }
}
